* {
  padding: 5px;
  margin: 5px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: Silver;
}

header {
  border-style: solid;
  border-radius: 10px;
  background-color: MediumSeaGreen;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-stretch: semi-expanded;
  color: LightGray;
}

p {
  margin: 10px;
  /*display: inline-block;*/
  padding: 10px;
  font-size: 18px;
  border-style: solid;
  border-radius: 15px;
  background-color: LightGray;
}

#bio {
  border: 2px solid black;
  border-radius: 10px;
}

#education {
  border: 2px solid black;
  border-radius: 10px;
}

#work-experience {
  border: 2px solid black;
  border-radius: 10px;
}

#cities {
  border: 2px solid black;
  border-radius: 10px;
}

li {
  margin-left: 20px;
}
