* {
  padding: 5px;
  margin: 5px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

body {
  letter-spacing: 2px;
  background-image: url(http://i.imgur.com/Wqtrdb2.jpg);
}

header {
  border-style: solid;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-stretch: semi-expanded;
}

#bio {
  border: 2px solid white;
  border-radius: 10px;
}

#education {
  border: 2px solid white;
  border-radius: 10px;
}

#work-experience {
  border: 2px solid white;
  border-radius: 10px;
}

#cities {
  border: 2px solid white;
  border-radius: 10px;
}

li {
  margin-left: 20px;
}
